.profilePic {
  width : var(--icon-height-big);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preventEdit {
  font-style: italic;
}

.subText {
  font-size: 90%;
  color: var(--sub-text-color);
}