.homePage {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100%;
}

.belowHeader {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}