.chatWrapper {
    position: relative;
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
    height: 100%;
  /* overflow: auto; */
  /* background-color: greenyellow; */
}

.messagesContainer {
  overflow: auto;
  overflow-anchor: auto;
  height: 90%;
}

.chatMessages {
  /* overflow: auto; */
  /* height: 90%; */
  /* background-color: aqua; */
}