.typeBar {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: 60px;
    background-color: var(--background-color-subdued);
    padding-block: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
  align-items: center;
}

.imageUpload {
  cursor: pointer;
}

.textInput {
  flex: 1;
  width: 90%;
  border-radius: 10px;
}

.textAndSubmit {
  display: flex;
}

.replyContainer {
  display: flex;
  flex-direction: row;
  word-break: break-word;
}

.messageToReplyTo {
  overflow: auto;
}

.errorMessage {
  position: absolute;
  font-size: 0.6em;
  top: 0px;
}

.cancelReply {
  min-width: 100px;
}