.typeBar {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100px;
    background-color: var(--background-color-subdued);
    padding: 30px;
    /* border-radius: ; */
}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.textInput {
  flex: 1;
}