.chatPreview {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chatPreview:hover {
  background-color: var(--light-hover);
}

.title {
  display: inline-block;
  margin: 0;
}

.lastUpdated {
  margin: 0;
  font-size: 90%;
}