
.chatPreview {
  /* max-width: 100%; */
  text-wrap: wrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.chatPreview:hover {
  background-color: var(--light-hover);
}

.title {
  display: inline-block;
  max-width: calc(100%);
  text-wrap: wrap;
  text-overflow: ellipsis;
}