/* 
height of 100px, 
fixed position

left padding right padding

flex direction row


*/
.header {
  background-color: var(--foreground-color);

}

.profile {
  display: flex;
  flex-direction: row;

}

.profilePic {
  height: var(--icon-height-medium);
}

.link {
  color: var(--text-light);

}