.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color-dark);
    padding-left: 20px;
    padding-right: 30px;
    overflow-y: auto;
    overflow-x: auto;

}

@media (max-width: 400px) {
  .open {
      max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .open {
    max-width: 250px;
  }
}

/* .open {
    max-width: 250px;
} */

.closed {
    max-width: 3%;
}

.chatPreviewList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: var(--icon-height-small);
}