.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color-dark);
    padding-top: 20px;
    padding-inline: 1%;
    overflow-y: auto;
}


.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarAction {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.sidebarAction:hover {
  background-color: var(--light-hover);

}

@media (max-width: 400px) {
  .open {
      min-width: 100%;
  }
}

@media (min-width: 1000px) {
  .open {
    width: 200px;
    min-width: 200px;
  }
}

.chatPreviewList {
  display: flex;
  flex-direction: column;
}

.icon {
  width: var(--icon-height-small);
  cursor: pointer;
}

.icon:hover {
  background-color: #243141;
}