.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: break-word;
  /* text-overflow: ellipsis; */
  /* overflow-x: hidden; */
}

.title {
  overflow-wrap: break-word;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}