.profilePic, .defaultProfilePic {
  object-fit: cover;
  height: var(--icon-height-big);
  width: var(--icon-height-big);
  border-radius: 50%;
}
.defaultProfilePic {
  background-color: var(--background-color-subdued);
}

.small {
  height: var(--icon-height-small);
  width: var(--icon-height-small);
}