:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #161e27;
  --background-color-subdued: #243141;
  --background-color-dark: #0d1217;
  --foreground-color: blue;
  --foreground-color-light: rgb(76, 76, 255);

  --icon-height-big: 70px;
  --icon-height-medium: 50px;
  --icon-height-small: 40px;

  --dark-hover: #1e2834;
  --light-hover: #646cff;
  --box-shadow: black;

  --sub-text-color: #56677b;

  --icon-bg-hover: #535bf2;
  --icon-text-hover: red;

  --text-light: aliceblue;

  --chat-preview-color: rgb(107, 178, 255);
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--foreground-color-light);
  text-decoration: inherit;
}
a:hover {
  color: aliceblue;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  height: 100%;
  width: 100svw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  min-height: 40px;
  max-height: 80px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  max-width: 150px;
  transition: border-color 0.25s;
}

button > p {
  size: 1rem;
}

button:hover {
  border-color: #646cff;
  background-color: var(--foreground-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  display: flex;
  height: 100svh;
  width: 100svw;
}

ul {
  padding-left: 0px;
}

p {
  margin: 0;
}

input[type=text], 
input[type=password], 
textarea {
  background-color: #0d1217;
  color: var(--text-light);
  padding: 10px;
  border: 1px solid var(--background-color-subdued);
  width: 100%;
}

button, input[type=submit] {
  background-color: #0d1217;
  color: var(--text-light);
  border: 1px solid var(--background-color-subdued);
  transition: border-color 0.25s;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  border-color: var(--foreground-color);
  background-color: var(--foreground-color);
  color: var(--text-light);
}

input[type=file] {
  width: 100px;
  display: none;
}