.messageWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
}

.messageOptions {
    position: absolute;

}

.profilePic {
    height: 50px;
}


.profilePic:hover {
  background-color: var(--dark-hover);
}

.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}