.messageWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
  overflow-wrap: break-word;
  width: 100%;
}

.messageText {
  overflow-wrap: break-word;
  max-width: 40%;
}

.messageOptions {
    position: absolute;

}

.profilePic {
    height: 50px;
}

.profilePic:hover {
  background-color: var(--dark-hover);
}

.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image {
  max-width: 400px;
}