.messageWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
    word-break: break-word;
    width: 50%;
}

.messageContents {
}

.messageText {
}

.messageOptions {
    position: absolute;
}

.profilePic {
    height: 50px;
}

.profilePic:hover {
  background-color: var(--dark-hover);
}

.top {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.image {
  max-width: min(400px, 100%);
}